.tytul {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #FFFFFF;

}
.tresc {
	margin: 1em;

}
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 0px;
	background-color: #000000;
	color: #FFFFFF;



}
.menu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
}
a {
	color: #FFFFFF;
	text-decoration: none;
}
a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}
.small {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #FFFFFF;
}
.podpis {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #EC5A2A;
}
.miniatura {
	text-align: center;
	margin: 2em;
}
td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
}
.podtytul {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #FFFFFF;
	text-align: right;
	letter-spacing: 0.5em;
}
h1 {
	font-size: 14px;
}
.smallLink {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #EC5A2A;
}
