---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout pageTitle="Cele Fundacji">
    <h2><img class="inline" src="/grafika/red_box.gif" width="10" height="10"> 
        Fundacja &quot;Res Publica Multiethnica&quot; powołana została w 
        1992 r.</p>
    <h2><img class="inline" src="/grafika/red_box.gif" width="10" height="10"> 
    Celem Fundacji jest inicjowanie, wspieranie i prowadzenie działalności 
    naukowej, artystycznej, kulturalnej i edukacyjnej, służącej krzewieniu 
    idei uczestnictwa mniejszości narodowych w tworzeniu wspólnych wartości 
    ogólnopolskiej kultury, przy równoczesnym zachowaniu ich tożsamości.</h2>
    <h2><img class="inline" src="/grafika/red_box.gif" width="10" height="10"> 
    Nadrzędnym zadaniem Fundacji jest współudział w kreowaniu współczesnej 
    mentalności obywatela Zjednoczonej Europy, w duchu tolerancji kulturowej, 
    etnicznej i narodowościowej, poprzez działanie na rzecz ochrony 
    i uwydatnienia europejskiego dziedzictwa kulturowego.</h2>
    <h2><img class="inline" src="/grafika/red_box.gif" width="10" height="10"> 
    Cel Fundacji jest realizowany poprzez:</h2>
    <ul>
    <li>prace studialne, badawcze i archiwalne dotyczące historycznego 
        udziału różnych narodowości w tworzeniu kultury Rzeczypospolitej;</li>
    <li>prace dokumentacyjne, inwentaryzacyjne, konserwatorskie i rekonstrukcyjne 
        nad zabytkami kultury i sztuki;</li>
    <li>publikowanie prac naukowych i popularyzatorskich poświęconych 
        współuczestnictwu kultury mniejszości narodowych w Polsce;</li>
    <li>działalność artystyczną;</li>
    <li>szkolenia, kursy, seminaria i innne formy działalności edukacyjnej.</li>
    </ul>    
</BaseLayout>