---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout pageTitle="Kontakt z Fundacją">
    <p>Ul. Cypryjska 44<br>
      02-761 Warszawa<br>
      tel/fax: (22) 642-11-24</p>
    <p>e-mail: <a href="mailto:respublicamultiethnica@gmail.com">respublicamultiethnica@gmail.com</a></p>
</BaseLayout>