---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout pageTitle="Przyjaciele Fundacji">
    <p align="center"><a href="http://www.pk.org.pl" target="_blank"><img src="/grafika/pk_1.gif" width="468" height="60" border="0"></a></p>
    <p align="center">Panorama Kultur </p>
</BaseLayout>