---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout pageTitle="Rada Fundacji">
    <ul>
        <li> 
            Dr hab. Andrzej Drozd
        </li>
        <li> 
            Ryszard Kryska
        </li>
        <li>
            Prof. Tadeusz Majda
        </li>
    </ul>
         
    <h1>Zarząd Fundacji</h1>
        
    <ul>
        <li> 
            prof. Zbigniew Kobyliński
        </li>
        <li> 
            mgr Piotr Sadzik
        </li>
        <li>
            Dariusz Wach
        </li>
    </ul>
</BaseLayout>