---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout pageTitle="Sponsorzy Fundacji">
    <ul>
        <li> 
          Generalny Konserwator Zabytków (1997-2001)
        </li>
        <li> 
          Ministerstwo Kultury
        </li>
        <li> 
          Fundacja im. Batorego
        </li>
        <li>Osoby prywatne</li>
      </ul>
      
      <h2>Starosiedle w Ziemi Lubuskiej: opracowanie i dwujęzyczna publikacja wyników nieinwestycyjnych badań ratowniczych</h2>
      <p>W ramach programu Dziedzictwo kulturowe / Ochrona zabytków archeologicznych, w oparciu oumowę z NID nr 2905/14/FPK/NID, Fundacja uzyskała dofinansowanie ze środków Ministra Kultury i Dziedzictwa Narodowego na sumę 69 300, 00 zł co pozwoliło na realizację zadania: <em>Starosiedle w Ziemi Lubuskiej: opracowanie i dwujęzyczna publikacja wyników nieinwestycyjnych badań ratowniczych</em>, której rezultatem stała się publikacja pt:</p>
      <p class="my-4"><a href="/publikacje/starosiedle-in-the-lubusz-land-prehistoric-and-early-medieval-settlement">Starosiedle in the Lubusz Land: Prehistoric and Early Medieval settlement / Starosiedle w Ziemi Lubuskiej: osadnictwo starożytne i wczesnośredniowieczne</a></p>
      <p class="my-8"><img class="inline" src="/logo/nid.jpg" />&nbsp;<img class="inline" src="/logo/mkidn.jpg" /></p>
</BaseLayout>