---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout pageTitle="Wsparcie Fundacji">
    <p> Jeśli chcesz wesprzeć działalność fundacji, prosimy o kontakt emailowy: <a href="mailto:respublicamultiethnica@gmail.com">respublicamultiethnica@gmail.com</a></p>
</BaseLayout>