---
---
<style>
    nav-links {
        background-color: #666666;
    }
</style>

<div class="nav-links">
    <a href="/">Strona główna</a>
    <a href="/cele/">Cele</a>
    <a href="/dzialania/">Działania</a>
    <a href="/publikacje/">Publikacje</a>
    <a href="/sponsorzy/">Sponsorzy</a>
    <a href="/rada/">Rada i zarząd</a>
    <a href="/kontakt/">Kontakt</a>
    <a href="/wsparcie/">Wsparcie</a>
    <a href="/przyjaciele/">Przyjaciele</a>
</div>